//task gloabl style//
section {
    margin-top: 20px;
}

@mixin taskMargin {
    div.listTask {
        div {
            margin: 5px;
        }
        button {
            margin-left: 5px;
        }
    }
}

@mixin taskCustom {
    position: relative;
    max-width: 150px;
    top: -15px;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: center;
    background: white;
}

@mixin taskStyle {
    div.listTask::before {
        @include taskCustom();
        content: " Zadań " attr(id);
    }
    div.doneTask::before {
        @include taskCustom();
        content: " Zrobione " attr(id);
    }
    div.listTask,
    div.doneTask {
        border: 1px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        word-break: break-all;
        div.taskBorder {
            padding: 5px 10px;
            margin-bottom: 5px;
        }
        ul.doneTask {
            li {
                list-style: none;
                margin-bottom: 5px;
            }
            li::before {
                content: ' ';
                height: 10px;
                width: 10px;
                display: inline-block;
            }
        }
        div.taskBorder:nth-child(odd) {
            background: palegreen;
        }
        div.taskBorder:nth-child(even) {
            background: paleturquoise;
        }
    }
}

//end task global style
//global input error style
input.empty {
    background: pink;
    border: 1px solid red;
}

//end global input error style
div.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 150px;
  margin-top: -50px;
  margin-left: -150px;
}
