<div class="col addPostForm">
  <div class="form-group row">
    <label for="task" class="col-cs-12 col-sm-12 col-md-3 col-form-label text-md-center">Dodaj post</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
      <input class="form-control {{errorInputClass()}}  " [(ngModel)]="post" appInputStyle  />
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-success" (click)="addPost()" > Dodaj post </button>
  </div>
</div>
