<div class="restApi" id="( {{posts != null ? posts.length : 0 }} )">
  <div class="post" *ngFor="let p of  posts; let i = index;">
    <div class="row">
      <div class="col-xs-11 col-sm-10 showPostBody">
        <div class="row">
          <div class=" col-xs-12 col-sm-12">
            {{ p.body }}
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 text-center removePost">
        <div class="row buttonAction">
          <div class="col-xs-12 col-sm-12">
            <button class="btn btn-space btn-sm btn-warning btn-space">
              <i class="fa fa-edit" data-toggle="tooltip" title="Edycja"></i>
            </button>
            <button class="btn btn-sm btn-danger btn-space">
              <i class="fa fa-remove" data-toggle="tooltip" (click)="removePost(p)"  title="Usuń"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-add-post> </app-add-post>
</div>
