div.restApi::before {
    content: "Api postow " attr(id);
    position: relative;
    display: flex;
    max-width: 150px;
    justify-content: center;
    top: -15px;
    background: white;
    left: 50%;
    transform: translate(-50%, 0);
}

div.restApi {
    border: 1px solid black;
    margin-bottom: 20px;
    word-break: break-all;
    div.showPostBody{
      display: flex;
      align-items: center;
    }
    div.buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        button {
            margin: 5px;
        }
    }
    div.post {
        margin: 5px;
        padding: 20px;
        div.removePost {
            display: flex;
            align-items: center;
            justify-content: center;
            div.buttonAction {
                margin-top: 10px;
                button {
                    margin: 5px;
                }
            }
        }
    }
    div.post:nth-child(odd) {
        background-color: azure;
    }
    div.post:nth-child(even) {
        background-color: aqua;
    }
    div.showIp {
        text-align: center;
    }
    a.showHide {
        color: blueviolet;
    }
    a.showHide:hover {
        cursor: pointer;
    }
}
