<section class="container taskPosition">
  <div class="row">
    <div class="col-sm-12" appTimer>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-list-of-tasks></app-list-of-tasks>
    </div>
    <div class="col-md-6">
      <app-done-tasks></app-done-tasks>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <app-add-task></app-add-task>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <app-http-client> </app-http-client>
    </div>
  </div>
</section>
