section.taskPosition {
    margin-top: 20px;
    div.timer::before{
      content: 'Teraz jest: ';
    }
    div.timer {
        text-align: center;
        font-size: 26px;
        margin-bottom: 30px;
    }
}
