<div class="col-12 doneTask" id="( {{getDoneTasks().length}} )">
  <ng-container *ngIf="getDoneTasks().length > 0 else noTasks">
    <ul class="doneTask">
      <li appChecked *ngFor="let t of getDoneTasks(); let i = index;" appDate [date]="t.create">
        {{t.name | transformTask : ' - super!'}} <button class="btn btn-danger" (click)="removeDoneTask(i)"> Kasuj
        </button>
      </li>
    </ul>
  </ng-container>
  <ng-template #noTasks>
    Brak zadań
  </ng-template>
</div>
