<div class="col-12 listTask" id="( {{getListTasks().length}} )">
  <ng-container *ngIf="getListTasks().length > 0 else noTasks">
    <div *ngFor="let t of getListTasks() | sort; let i = index;" class="taskBorder" appDate [date]="t.create">
      {{ t.name | transformTask : '!' }} <button class="btn btn-info" (click)="addToDone(i)"> Zrobione </button>
      <button class="btn btn-danger" (click)="removeTask(i)"> Kasuj </button>
    </div>
  </ng-container>
  <ng-template #noTasks>
    Brak zadań
  </ng-template>
</div>
