<div class="col">
  <div class="form-group row">
    <label for="task" class="col-cs-12 col-sm-12 col-md-3 col-form-label text-md-center">Dodaj zadanie</label>
    <div class="col-xs-12 col-sm-12 col-md-9">
      <input class="form-control {{emptyInputError}}"  appInputStyle  [(ngModel)]="task">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary" (click)="addTask()" > Dodaj zadanie</button>
  </div>
</div>
